html {
  color: whitesmoke; }

body {
  background-color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(10px);
      -ms-transform: translate(10px);
          transform: translate(10px); }

div {
  background-color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(10px);
      -ms-transform: translate(10px);
          transform: translate(10px); }
